<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Library.Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Library.Utility.Properties.Settings>
            <setting name="Iterations" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KeySize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="Hash" serializeAs="String">
                <value>SHA256</value>
            </setting>
            <setting name="Salt" serializeAs="String">
                <value>xZoqvRzsILt8GuA7</value>
            </setting>
            <setting name="Vector" serializeAs="String">
                <value>7nEeuuzSBSTn010P</value>
            </setting>
        </Library.Utility.Properties.Settings>
    </userSettings>
</configuration>